* {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
}


#board {
    background-color: #800000;
    width: 1280px;
    height: 768px;
    position: relative;
    margin: 2.5vh 2.5vh;
    background-image: url("../images/maplevel1.png");
}
#board:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}
#board>div div {
    position: absolute;
}


canvas {
    height: 100%;
    position: absolute;
    z-index: 1000;
}


#monsters .targeted {
    background-color: #00f7ff;
}
#monsters .monster.soldier {
    width: 20px;
    height: 20px;
    background-image: url("../images/enemi-soldier-bg.png");
}
#monsters .monster.tank {
    width: 26px;
    height: 26px;
    background-image: url("../images/enemi-tank-bg.png");
}
#monsters .monster.boss {
    width: 32px;
    height: 32px;
    background-image: url("../images/enemi-boss-bg.png");
}


#towers-placement .placement {
    width: 64px;
    height: 64px;
    background-color: rgba(221, 211, 211, 0.4);
}
#towers-placement .placement:hover {
    background-color: rgba(221, 211, 211, 0.8);
}


#towers .tower {
    width: 64px;
    height: 64px;
    background-image: url("../images/tower-animated.gif");
}


#projectiles .projectile {
    width: 10px;
    height: 10px;
    background-image: url("../images/projectile-animated.gif");
}