*{
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

#board {
    background-color: #800000;
    height: 80vh;
    width: 80vw;
    position: relative;
    margin: 2.5vh 2.5vh;
}
.line div {
    width : 1%;
    height: 1%;
    position: absolute;
}
.line div.v0{
    background-color:#ffe4e1;
}
.line div.v1{
    background-color:#fff61e;
}
.line div.v2{
    background-color:#5eff5e;
}
.line div.v3{
    background-color:#4e643a;
}
.line div.v4{
    background-color:#8fb15d;
}
.line div.v5{
    background-color:#3d6e6a;
}
.line div.v6{
    background-color:#fa9a50;
}

.way-point{
    width : 1%;
    height: 1%;
    position: absolute;
    background-color:#000000;
}

#monsters .monster{
    width : 1%;
    height: 1%;
    position: absolute;
    background-color:#000000;
}