*{
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

#board {
    background-color: #800000;
    width: 1280px;
    height: 768px;
    position: relative;
    margin: 2.5vh 2.5vh;
    background-image: url("../images/maplevel1.png");
}
#board:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

canvas{
    height: 100%;
    position: absolute;
    z-index: 1000;
}

#monsters .monster{
    width : 20px;
    height: 20px;
    position: absolute;
    background-color:#000000;
}
#monsters .targeted{
    background-color:#00f7ff;
}


#towers .tower{
    width : 64px;
    height: 64px;
    position: absolute;
    background-color:#1900ff;
}


#projectiles .projectile{
    width : 15px;
    height: 15px;
    position: absolute;
    background-color:#ff0000;
}

#towers-placement .placement{
    width : 64px;
    height: 64px;
    position: absolute;
    background-color:#ff0000;

}